@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600;700&display=swap');

@tailwind base;
@layer base{
    html {
    font-family: 'Raleway';
    font-feature-settings: normal;
    font-variation-settings: normal;
}
}
@tailwind components;
@tailwind utilities;